* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: url("images/hilde.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    flex-grow: 0.1;
    border-bottom: 2vh solid #da291c;
}

img#logo {
    /*border: 5px solid green;*/
    background-color: #da291c;
    height: 10vw;
}

nav {
    /*border: 5px solid yellow;*/
    /* items */
    width: 60%;
    /* container */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /**/
    margin: 2vh 2vw;
}

nav a {
    /*border: 5px solid orange;*/
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #da291c;
}

main {
    /*border: 5px solid purple;*/
    flex-grow: 2;
}

footer {
    flex-grow: 0.05;
    background-color: #da291c;
}