* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    //
    flex-grow: 1;
}

img#logo {
    height: 10vw;
}

nav {
    /* items */
    width: 60%;
    /* container */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: red;
}

main {
    flex-grow: 2;
}

footer {
    flex-grow: 0.1;
    background-color: red;
}